<!DOCTYPE html>
<html>
	<head>
	  <title>#caHack</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class='content'>
			<h2>
				<%= yield :title %>
			</h2>
			<hr/>
			<% if flash[:alert] %>
				<p class='alert'><%= flash[:alert] %></p>
			<% end %>
			<% if flash[:notice] %>
				<p class='notice'><%= flash[:notice] %></p>
			<% end %>
			<%= yield %>
			<br/><br/><br/><br/>
		</div>
	</body>
</html>
